body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: "Segoe UI";
    background-color: #303030;
    color: whitesmoke;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #3fb986;
}

li {
    list-style-type: none;
    margin: 1em 0;
}

.navbar{
    display: flex;
    border-bottom: 2px solid white;
    padding: 1em 2em;
}

.button, .button:link, .button:visited, .button:hover, .button:active {
    text-decoration: none;
    color: #fff;
    padding: 0.5em 1em;
    border: 1px solid #fff;
    border-radius: 50px;
}

.button:hover {
    cursor: pointer;
}

.button-blue {
    background-color: #3e8cb9aa;
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;
    width: 50vw;
    padding: 1.2em;
    border-radius: 1em;
    border: 2px solid #fff;
    border-radius: 10px;
}

.signupForm > form {
    text-align: center;
}

.input_field {
    box-sizing: border-box;
    display: block;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75em 0.5em;
    color: currentColor;
    background: transparent;
    border-radius: 10px;
}

#invalid_tos, #invalid_credentials {
    color: #ff0000;
}

#processing_err {
    color: #ffaa00;
}

#success {
    color: #00FF00;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
}

#input, #nickname {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input {
    flex-grow: 8;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    position:relative;
    width: max(50vw, 30em);
    margin: 0 auto;
}

.message, .fake_message {
    padding: 0.5em 0.7em;
    border-radius: 100px;
}

#own_messages {
    position: absolute;
    right: 0;
    top: 0;
}

#own_messages li.message {
    text-align: right;
    background-color: #4179c288;
}

#foreign_messages {
    position: absolute;
    left: 0;
    top: 0;
}

#foreign_messages li.message {
    text-align: left;
    background-color: #b743c288;
}